// colors
$bg-pink: #f1a8a8;
$bg-green: #3dbba4;
$bg-green-opaque: rgba(61, 187, 164, 0.5);
$light-text: white;
$dark-text: black;
$light-grey: rgba(235, 235, 235, 1);
$dark-grey: lightgrey;
$transparent-modal-cover: rgba(50, 50, 50, 0.6);
$transparent-modal-content: rgba(50, 50, 50, 0.9);

// font type and size
$main-font: "Amiri", serif;
$title-size: 2rem;
$subtitle-size: 1.2rem;

// page width
$max-width: 1600px;

// borders for cart
$cart-btn-border: 1px solid black;
$cart-btn-radius: 10px;
$cart-inner-border: 1px solid rgb(200, 200, 200);
